/experiment
# Ignore the experiment directory
/experiment/*
/experiment_5_giancarlo/*
/experiment_emilio/*
#/src/predictions/*
/src/P4/*
/src/nomass/*
/src/predictions/*
/src/predictions_rc2/*
/src/overlays/*
/src/overlays_crop/*
/src/overlays_rc1/*
/src/overlays_rc2/*
/src/onnx_models/*
/src/onnx_models_preprocessed/*

*.zip
*.onnx
*.png